.box1{
    height: 740px;
    width: 310px;
    background-color: green;
    top: 0px;
    position: fixed;
    left: 0px;
}
.box2
{
    height: 1500px;
    width: 100%;
    background-color: grey;
   float: right;
    top: 0px;

}
.box3
{
    height: 300px;
    width: 100%;
    background-color: red;
    float: right;
   
}
.box4
{
    height: 300px;
    width: 100%;
    background-color: gray;
    float: right;
  
}


.box5
{
    height: 500px;
    width: 100%;
    background-color: blue;
    float: right;
    top: 0px;
    padding: 50px;
    justify-content: center;
    align-items: center;

}

